body{
  background-image:url('darkness.png');
}

p{

}

h3{

}

li{

}
a{
  color:white;
  font-weight:bold;
  font-size:24px;
  text-decoration:none;
}
#Header{
  width:500px;
  margin:0px auto 10px auto;
  border:solid 8px black;
  text-align:center;
  background-color:purple;
}

#Header h1{
  font-size:60px;
  font-family: "Passion One";
  color:#FFBC00;
  font-weight:bold;
}

#LeftNav{
  width:400px;
  border:solid 8px black;
  margin:0px auto 10px auto;
  float:left;
  text-align:center;
  padding-bottom:8px;
  background-color:purple;
}
#LeftNav img{

}

#LeftNav ul{
}

#LeftNav h3{

}

#Content{
  width:700px;
  border:solid 8px black;
  margin:0px auto 10px auto;
  text-align:center;
  padding:15px;
  background-color:purple;
}

#Footer{
  text-align:center;
  background-color:purple;
  }
#Footer li{
  list-style-type: none;
}
